In [9]:
import pandas as pd
import numpy as np
import string

In [2]:
pd.Series(np.arange(10),index=list("abcdefghij"))

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int32

In [3]:
pd.Series([np.arange(10),1])#每一个元素作为其一个值

0    [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
1                                 1
dtype: object

In [4]:
temp_dict={"name":"xiaopeng","age":30,"tel":10086}
print(temp_dict)

{'name': 'xiaopeng', 'age': 30, 'tel': 10086}

In [24]:
t4=pd.Series(temp_dict)
t4.dtype

dtype('O')

In [25]:
print(t3)

F    5.0
G    6.0
H    7.0
I    8.0
J    9.0
K    NaN
L    NaN
M    NaN
N    NaN
O    NaN
dtype: float64

In [26]:
a={string.ascii_uppercase[i]:i for i in range(10)}

In [27]:
a

{'A': 0,
 'B': 1,
 'C': 2,
 'D': 3,
 'E': 4,
 'F': 5,
 'G': 6,
 'H': 7,
 'I': 8,
 'J': 9}

In [28]:
t2=pd.Series(a)
t2.dtype

dtype('int64')

In [29]:
t3=pd.Series(a,index=list(string.ascii_uppercase[5:15]))#pandas 会根据数据类型更改Series中的dtype
t3.dtype

dtype('float64')

In [30]:
t2.astype(float)

A    0.0
B    1.0
C    2.0
D    3.0
E    4.0
F    5.0
G    6.0
H    7.0
I    8.0
J    9.0
dtype: float64

In [31]:
t4["age"]

30

In [32]:
t4[2]

10086

In [44]:
t4[:2]

age           30
name    xiaopeng
dtype: object

In [45]:
t4[[1,2]]

name    xiaopeng
tel        10086
dtype: object

In [46]:
t4[["age","tel"]]

age       30
tel    10086
dtype: object

In [47]:
t2[t2>4]

F    5
G    6
H    7
I    8
J    9
dtype: int64

In [48]:
t3.index

Index(['F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O'], dtype='object')

In [50]:
for i in t3.index:
    print(i)
type(t3.index)

F
G
H
I
J
K
L
M
N
O

pandas.core.indexes.base.Index

In [51]:
len(t3.index)

10

In [52]:
list(t3.index)

['F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O']

In [54]:
t3.values

array([  5.,   6.,   7.,   8.,   9.,  nan,  nan,  nan,  nan,  nan])

In [56]:
type(t3.values)

numpy.ndarray