In [8]:
import pandas as pd
import numpy as np

t3=pd.DataFrame(np.arange(12).reshape(4,3),index=list("abcd"),columns=list("wxy"))

In [9]:
t3

   w   x   y
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

In [11]:
t3.loc["a","w"]

0

In [12]:
t3.loc["a",:]

w    0
x    1
y    2
Name: a, dtype: int32

In [13]:
t3.loc[:,"y"]

a     2
b     5
c     8
d    11
Name: y, dtype: int32

In [15]:
t3.loc[["a","c"],:]

   w  x  y
a  0  1  2
c  6  7  8

In [16]:
t3.iloc[2:]

   w   x   y
c  6   7   8
d  9  10  11

In [18]:
t3.iloc[:,[1,2]]

    x   y
a   1   2
b   4   5
c   7   8
d  10  11